ul {
    width: auto;
    list-style-type: none;
}

li > a {
    padding: 20px;
    margin: 0;
    float: left;
    text-decoration: none;
    width: 25%;
    display: block;
    color: black;
    text-align: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    background-color: whitesmoke;
}

li:last-child > a{
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;
}

li a:hover {
    color: brown;
    font-weight: bold;
    background-color: burlywood;
}





















